.bg-blue-light {
    background-color: #226CC5;
}

.bg-blue-dark {
    background-color: #101731;
}

.text-blue-dark {
    color: #315A8C;
}

.bg-image {
    background-image: url(/public/images/mitchell-luo-wE0PFSVsyqA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}